<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
<div class="container mt-2">
	<h4>Why ' <span class="underline">Speak Soon</span>' ?</h4>
	<p>'Speak Soon' is <span class="underline">free</span>. It connects you to people from around the world who can help you to learn a new language.</p>
	<div class="black-box">
		<div class="tower">
			<img src="./assets/eiffel-tower.jpg" id="tower" alt="Eiffel Tower">
		</div>
		<div class="same" id="same">
			<h4 >What is it ?</h4>
			<p title="Spanish, Chinese, Russian, Tamil, Japanese, Korean, French, German, Hindi.....">  Type in any language you want to learn.</p>
			<p>This will instantly connect you to people who:</p>
			<ul class="eiffel">
				<li>.....can help you learn that language!</li>
			</ul>
		</div>
	</div>
	<div class="black-box">
		<div class="catch">
			<h4 id="catch">What's the catch?</h4>
			<p> Those people are looking to learn your language.. </p>
			<ol>
				<li>You have to teach them your language</li>
				<li>but they will help you to learn theirs...</li>
			</ol>
		</div>
		<img src="./assets/japan.jpg" id="japan" alt="Japan">
	</div>
	<div class="black-box">
		<h4>How exactly does it work?</h4>
		<ol>
			<li>Type in the language(s) you wish to learn</li>
			<li>Type in the language(s) you know</li>
			<br>
			<li>You will be connected to all the other people wishing to learn that language</li>
			<li>You will be connected to all the people who speak that language and want to learn your language</li>
		</ol>
	</div>
	<div class="marron-box">
		<h4>Lastly...</h4>
		<h5>What can I do with it?</h5>
		<ul>
			<li>Message people individually or join discussions in the group forum</li>
			<li>Schedule a time to talk face to face <span id="via">via</span> video.</li>
			<li>Keep track of your progess in a personal log</li>
			<li>and much more...</li>
		</ul>
	</div>
	<div class="buffer">
		<p id="vvv"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt culpa dolores nobis commodi animi tempora suscipit qui, non labore accusantium recusandae numquam repellat sint mollitia, placeat possimus eum minima. Iste! </p>
	</div>
</div>