<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
<div class="container">
  <h2>Welcome ....</h2>
  <form (submit)="updateUser()">
    <input class="input float-right mt-10" type="submit" value="Submit">
    <label class="mt-4">First name:
    <input class="input" type="text" name="first_name"></label>
    <label>Country you live in:
    <input class="input mb-2" type="text" name="country"></label>
    <div class="left_lang">
      <label>Select language(s) you know:</label>
      <label>Chinese
        <input type="checkbox" name="know_chinese" value="Chinese"></label>
      <label>English
        <input type="checkbox" name="know_english" value="English"></label>
      <label>French
        <input type="checkbox" name="know_french" value="French"></label>
      <label>German
        <input type="checkbox" name="know_german" value="German"></label>
      <label>Japanese
        <input type="checkbox" name="know_japanese" value="Japanese"></label>
      <label>Portugeis
        <input type="checkbox" name="know_portugeis" value="Portugeis"></label>
      <label>Russian
        <input type="checkbox" name="know_russian" value="Russian"></label>
      <label>Spanish
        <input type="checkbox" name="know_spanish" value="Spanish"></label>
      <label>other
        <input type="checkbox" name="..." value="..."> </label>
    </div>
<!--<<<>>><><><><><><><><><><><><><><<<>>>!--><!--<<<>>><><><><><><><><><><><><><><<<>>>-->
    <div class="right_lang">
      <label>Select language(s) you want to learn:</label>
      <label>Chinese
        <input type="checkbox" name="learn_chinese" value="Chinese"></label>
      <label>English
        <input type="checkbox" name="learn_english" value="English"></label>
      <label>French
        <input type="checkbox" name="learn_french" value="French"></label>
      <label>German
        <input type="checkbox" name="learn_german" value="German"></label>
      <label>Japanese
        <input type="checkbox" name="learn_japanese" value="Japanese"></label>
      <label>Portugeis
        <input type="checkbox" name="learn_portugeis" value="Portugeis"></label>
      <label>Russian
        <input type="checkbox" name="learn_russian" value="Russian"></label>
      <label>Spanish
        <input type="checkbox" name="learn_spanish" value="Spanish"></label>
      <label>other
        <input type="checkbox" name="..." value="..."> </label>
    </div>
  </form>
  <div>
    <hr>
    <hr>
    <p class="lorem"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dignissimos dolorem obcaecati veniam cumque doloribus rerum provident, tenetur, debitis numquam iure ea voluptate in? Nostrum maiores quo magni ducimus est. </p>
  </div>
</div>
                                      
                                      